<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>WebAppContextListener</servlet-name>
        <servlet-class>listeners.WebAppContextListener</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>servlet.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResearchQueryServlet</servlet-name>
        <servlet-class>servlet.ResearchQueryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecensioneServlet</servlet-name>
        <servlet-class>servlet.RecensioneServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>servlet.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RecensioneServlet</servlet-name>
        <url-pattern>/RecensioneServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebAppContextListener</servlet-name>
        <url-pattern>/WebAppContextListener</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResearchQueryServlet</servlet-name>
        <url-pattern>/ResearchQueryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>dburl</param-name>
        <param-value>jdbc:derby://localhost:1527/GourmetDB</param-value>
    </context-param>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
            /home/lorenzo/Documenti/GIT.PROGETTOWEB/data
        </param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listeners.WebAppContextListener</listener-class>
    </listener>
</web-app>
