body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background: #262626;
  z-index: 1;
}


#login-button{
    position: absolute;
    background-color: #ac1e44;
    font-size: 16px;
    border: 0;
    bottom: 10px;
    right: 110px;
    cursor: pointer;
}

#register-button {
	position: absolute;
  background-color: #ac1e44;
  font-size: 16px;
    border: 0;
    bottom: 10px;
    right: 20px;
    cursor: pointer;
}
#account-button,#admin-account-button
{
	float:right;
    position: absolute;
    background-color: #ac1e44;
    font-size: 16px;
    border: 0;
    bottom: 10px;
    right: 20px;
    cursor: pointer;
}

#restourant-button,#admin-notif{
    position: absolute;
    background-color: #ac1e44;
    font-size: 16px;
    border: 0;
    bottom: 10px;
    right: 200px;
    cursor: pointer;
}

#logout-button-admin
{
    position: absolute;
    background-color: #ac1e44;
    font-size: 16px;
    border: 0;
    bottom: 10px;
    right: 220px;
    cursor: pointer;
}

#logout-button
{
    position: absolute;
    background-color: #ac1e44;
    font-size: 16px;
    border: 0;
    bottom: 10px;
    left: 200px;
    cursor: pointer;
}
#logoutform
{
    margin-top:20px;
}
#restourant-notif
{
    position: absolute;
    background-color: #ac1e44;
    font-size: 16px;
    border: 0;
    bottom: 10px;
    right: 370px;
    cursor: pointer;
}
#login-button:focus, #register-button:focus,#account-button:focus,#restourant-button:focus,#logout-button:focus,#admin-notif:focus,#restourant-notif:focus,#admin-account-button:focus,#button-reclama:focus{
  background: #891836;
}

#login-button:hover, #register-button:hover,#account-button:hover,#restourant-button:hover,#logout-button:hover,#admin-notif:hover,#restourant-notif:hover,#admin-account-button:hover#button-reclama:hover{
  background: #891836;
}

#logo-home {
    height: 46px;
    border: 0;
    float: left;
    margin-left: 10px;
}