body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background: #262626;
  z-index: 1;
}

#login-button {
    position: absolute;
    background-color: #ac1e44;
    font-size: 16px;
    border: 0;
    bottom: 10px;
    right: 110px;
    cursor: pointer;
}

#register-button {
	position: absolute;
  background-color: #ac1e44;
  font-size: 16px;
    border: 0;
    bottom: 10px;
    right: 20px;
    cursor: pointer;
}

#login-button:focus, #register-button:focus {
  background: #891836;
}

#login-button:hover, #register-button:hover {
  background: #891836;
}

#logo-home {
    height: 46px;
    border: 0;
    float: left;
    margin-left: 10px;
}