body {
	background-size: 100%;
	background-repeat: no-repeat;
}

.login-box {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	top: 150px;
	width: 400px;
	height: 340px;
	background-color: #504C51;
	color: white;
	font-family: 'Open Sans', arial;
	border-radius: 15px;
    -moz-border-radius: 15px, 15px, 15px, 15px;
    -webkit-border-radius: 15px;
}

.login-box img {
	width: 75px;
	position: relative;
	left: 162px;
	top: 10px;
}

.login-form {
	display: block;
	padding: 20px;
	margin-right: auto;
	margin-left: auto;
}

#UserName,#Passwd {
	position: relative;
	right: 8px;
	width: 100%;
	height: 30px;
	font-size: 15px;
	margin: 5px;
	padding-left: 5px;
	border-radius: 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px;
}

.login-button {
    position: relative;
    display: inline-block;
    color: white;
    background: #ac1e44;
    width: 47%;
    height: 35px;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px;
}

#submit-button {
    margin-left: 8px;
    cursor: pointer;
    border: 2px solid #BCBCBC;
    top: 10px;
    height: 38px;
}

#cancel-button {
        text-decoration: none;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        border: 2px solid #BCBCBC;
        top: 10px;
        height: 38px;
}

p {
	padding-top: 20px;
	margin: 0;
	font-size: 20px;
	text-align: center;
}

#resetPass {
	position: relative;
	top: 18px;
	left: 230px;
	color: #ac1e44;
}