#notification_admin_table
{
    position: relative;
    top: 50px;
    margin-top: 55px;
    margin-left: 55px;
}
.claims_blank
{
    height: 20px;
}

.claim-button
{
    margin-left: 20px;    
    background-color: #ac1e44;
    color: white;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px;
}
#claim_title
{
    position: relative;
    top: 70px;
    left: 40px;
    margin: 15px;
    margin-bottom: 20px;
}
h4 {
    margin: 0px;
    padding: 0px;
}

.request-td {
    margin-bottom: 50px;
}
