#notification_admin_table
{
    margin-top: 55px;
    margin-left: 55px;
}
.claims_blank
{
    height: 20px;
}

.claim-button
{
    margin-left: 20px;    
    background-color: #ac1e44;
    color: white;
    margin-bottom: 5px;
}
#claim_titol
{
    font-size:200%; 
    
}
p
{
    font-size:150%;
}
