#refactor-button
{    
    background-color: #ac1e44;
    margin-left: 10px;
}
#registered_info
{
    margin-top: 60px; 
    margin-left: 50px;
}
#reviews
{
    margin-top: 50px; 
    margin-left: 50px;
}
