h1 {
    position: absolute;
    top: 8%;
    left: 4%;
    color: #ac1e44;
}

#a-username {
    position: absolute;
    top: 16%;
    left: 4%;
    color: #891836;
}
#refactor-button {
    position: absolute;
    top: 26%;
    left: 4%;
    background-color: #ac1e44;
}

.panel-default {
    position: absolute;
    top: 34%;
    left: 4%;
    width: 600px;
    height: auto;
}

.d-review {
    margin-bottom: 25px;
}
