.title-container {
  position: fixed;
  top: 50px;
  width: 100%;
  height: 50px;
  z-index: 1;
  background-color: #3F51B5;
}

.main-searchbox {
  position: relative;
  display: inline;
  top: 2px;
  left: 200px;
}
#search-location {
  position: relative;
  display: inline-block;
  margin: 5px;
  width: 300px;
  font-size: 14px;
  line-height: 25px;
  padding-left: 5px;
}

#search-name {
  position: relative;
  display: inline-block;
  margin: 5px;
  width: 300px;
  font-size: 14px;
  line-height: 25px;
  padding-left: 5px;
}

#search-button {
  position: relative;
  display: inline-block;
    border: 0;
    color: white;
    background: #ac1e44;
    width: 80px;
    height: 30px;
    font-size: 18px;
    border-radius: 5px;
    -moz-border-radius: 5px, 5px, 5px, 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
}

.body-container {
  margin: 100px 100px 0px 100px;
  padding: 20px 20px 0px 20px;
}

.form-control {
  position: relative;
  margin-left: 20px;
}

#order-box {
  position: relative;
  background-color: #37474F;
  margin-left: 320px;
  margin-right: 100px;
  color: white;
  width: 850px;
  height: 55px;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 3px;
  -moz-border-radius: 3px, 3px, 3px, 3px;
  -webkit-border-radius: 3px;
}

#order-box select {
  position: absolute;
  background-color: #ECEFF1;
  right: 77px;
  width: 100px;
}

#order-for {
  position: absolute;
  right: 185px;
  margin-top: 7px;
  font-size: 15px;
}

#apply-button1 {
    position: absolute;
    right: 8px;
}

.filter-box label {
  padding: 5px;
  color: white;
}

#price-list {
  margin: 10px 5px 5px 5px; 
}

.radio-inline {
  margin-left: 25px;
  margin-right: 5px;
}

.food-list {
  margin: 10px 5px 0px 5px;
}

.checkbox {
  margin-left: 25px;
}

.filter-box table {
  margin-left: auto;
  margin-right: auto;
}

#reset-button {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

#apply-button {
    position: absolute;
    bottom: 5px;
    right: 75px;
}

.filter-box {
  position: relative;
  display: block;
  width: 300px;
  height: auto;
  background-color: #37474F;
  border-radius: 3px;
  -moz-border-radius: 3px, 3px, 3px, 3px;
  -webkit-border-radius: 3px;
  float: left;
}
.corporicerca{
    float: left;
    margin-left: 320px;
    margin-top: 5px;
}
.research_table{	
}
.spaceUnder
{
    height: 25px;
}
.research_table_row{
}
.research_image,.research_info{
	float:left;
}
.research_info{
	margin-left:20px;
}
.research_image{
	float:left;
	width:250px;	
}
.research_name{
	margin-top:0;
	font-size:250%;
}
.coordinates{
    margin-top: 10px;
}
.value{
    font-size:150%;
}

#address-image, #food-image {
    width: 25px;
    position: relative;
    bottom: 3px;
}

#nrecensioni {
    position: relative;
    left: 15px;
}