.title-container {
  position: fixed;
  top: 50px;
  width: 100%;
  height: 50px;
  z-index: 1;
  background-color: #3F51B5;
}

.main-searchbox {
  position: relative;
  display: inline;
  top: 2px;
  left: 100px;
}
#search-location {
  position: relative;
  display: inline-block;
  margin: 5px;
  width: 300px;
  font-size: 14px;
  line-height: 25px;
  padding-left: 5px;
}

#search-name {
  position: relative;
  display: inline-block;
  margin: 5px;
  width: 300px;
  font-size: 14px;
  line-height: 25px;
  padding-left: 5px;
}

#search-button {
  position: relative;
  display: inline-block;
    border: 0;
    color: white;
    background: #ac1e44;
    width: 80px;
    height: 30px;
    font-size: 18px;
    border-radius: 5px;
    -moz-border-radius: 5px, 5px, 5px, 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
}

.body-container {
  margin: 100px 100px 0px 100px;
  padding: 20px 20px 0px 20px;
}

.order-box {
  position: relative;
  background-color: #37474F;
  margin-left: 300px;
  margin-right: 0px;
  color: white;
  width: 450px;
  height: 55px;
  padding-top: 5px;
  padding-left: 10px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 3px;
  -moz-border-radius: 3px, 3px, 3px, 3px;
  -webkit-border-radius: 3px;
}

.order-box label {
  position: relative;
  top: 10px;
}

#order-for {
  font-size: 16px;
  padding-right: 10px;
}

.order-box input[type=radio] {
  display:none;
}

.order-list {
  display:inline-block;
  padding: 5px 12px;
  margin-bottom: 0;
  margin-right: 5px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
  background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
  background-image: -o-linear-gradient(top,#fff,#e6e6e6);
  background-image: linear-gradient(to bottom,#fff,#e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #ccc;
  border-color: #e6e6e6 #e6e6e6 #a9a9a9;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  border-bottom-color: #b3b3b3;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  border-radius: 5px;
  -moz-border-radius: 5px, 5px, 5px, 5px;
  -webkit-border-radius: 5px;
}

.order-box input[type=radio]:checked + label {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
  background-color:#b3b3b3;
}

.filter-box {
  position: relative;
  width: 280px;
  height: auto;
  background-color: #37474F;
  border-radius: 3px;
  -moz-border-radius: 3px, 3px, 3px, 3px;
  -webkit-border-radius: 3px;
}

.filter-box label {
  padding: 5px;
  color: white;
}

.food-list {
  margin-left: 5px;
  margin-top: 10px;
}

.checkbox {
  margin-left: 25px;
}

.price-list {
  margin-top: 15px;
  margin-bottom: 5px;
}

.filter-box table {
  margin-left: auto;
  margin-right: auto;
}

#reset-button {
  position: absolute;
  bottom: 5px;
  right: 5px;
}