.title-container {
  position: fixed;
  top: 50px;
  width: 100%;
  height: 50px;
  z-index: 1;
  background-color: #3F51B5;
}

.main-searchbox {
  position: relative;
  display: inline;
  top: 2px;
  left: 200px;
}
#search-location {
  position: relative;
  display: inline-block;
  margin: 5px;
  width: 300px;
  font-size: 14px;
  line-height: 25px;
  padding-left: 5px;
}

#search-name {
  position: relative;
  display: inline-block;
  margin: 5px;
  width: 300px;
  font-size: 14px;
  line-height: 25px;
  padding-left: 5px;
}

#search-button {
  position: relative;
  display: inline-block;
    border: 0;
    color: white;
    background: #ac1e44;
    width: 80px;
    height: 30px;
    font-size: 18px;
    border-radius: 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
}

.photo-gallery {
    position: relative;
    top: 120px;
    right: 20px;
    float: right;
    width: 480px;
}

.general-info{
    position: relative;
    top: 120px;
    left: 70px;
}

h1 {
    color: #ac1e44;
}

.star-img {
    position: relative;
    display: inline;
    width: 15px;
    bottom: 3px;
}

#nrecensioni {
    position: relative;
    left: 15px;
}

#rdescription {
    width: 500px;
    font-weight: normal !important;
    color: #737373;
}

#rprice, #rfood {
    font-weight: normal !important;
    margin-top: 10px;
}

#website-image, #address-image, #price-image {
    width: 20px;
    position: relative;
    bottom: 3px;
}

#food-image {
    width: 25px;
    position: relative;
    bottom: 3px;
}

address {
    margin-top: 10px;
}

#rwebsite {
    position: relative;
    bottom: 5px;
}

#send-button {
    position: relative;
    bottom: 15px;
    left: 20px;
}

#review-panel {
    position: relative;
    left: 70px;
    top: 130px;
    width: 530px;
    height: auto;
}
#rev-panel {
    position: relative;
    left: 70px;
    top: 150px;
    width: 530px;
    height: auto;
    margin-bottom: 500px;
}

.review-label {
    margin-top: 20px;
    margin-bottom: 0px;
}

#review-description {
    margin-bottom: 10px;
}
.panel-body {
    position: relative;
    bottom: 10px;
    left: 10px;
}

#review-info {
    font-weight: normal !important;
    font-size: 10px;
    float: right;
}

textarea {
    height: 100px;
    width: 400px;
}

#image-review {
    position: relative;
    top: 5px;
}

#button-claim {
    position: relative;
    left: 465px;
    bottom: 45px;
    border: 0;
    color: white;
    background: #ac1e44;
}

.reviews_table {
    margin-top: 5px;
    margin-bottom: 30px;
}

.global_review {
    position: relative;
    top: 5px;
}

.user_review {
    position: relative;
    top: 10px;
    color: #204d74;
}