h1 {
    position: absolute;
    top: 8%;
    left: 4%;
    color: #ac1e44;
}

h3 {
    position: absolute;
    top: 16%;
    left: 4%;
    color: #891836;
}

#restaurant-panel {
    position: absolute;
    top: 34%;
    left: 4%;
    width: 300px;
    height: auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

.panel-body {
    position: relative;
    top: 15px;
    left: 25px;
}
#refactor-button {
    position: absolute;
    top: 26%;
    left: 4%;
    background-color: #ac1e44;
}

#reviews {
    position: absolute;
    top: 80%;
    left: 4%;
    width: 500px;
    overflow-y: scroll;
}

.d-review {
    margin-bottom: 25px;
}

#RestaurantInfo
{
    margin-top: 100px;
    margin-left: 50px;
}
#RestaurantDescription
{
    height: 100px;
}
.cancel-column
{
    width: 170px;
    height: 50px;
}

#RestaurantImages
{
    margin-left: 50px;
}
.cancel-column
{
    width: 170px;    
}
.primary-column
{
    width: 200px;
    height: 50px;
}
.image-column
{
    width: 180px;  
}