.title-container {
  position: fixed;
  top: 50px;
  width: 100%;
  height: 50px;
  z-index: 1;
  background-color: #3F51B5;
}

.main-searchbox {
  position: relative;
  display: inline;
  top: 2px;
  left: 200px;
}
#search-location {
  position: relative;
  display: inline-block;
  margin: 5px;
  width: 300px;
  font-size: 14px;
  line-height: 25px;
  padding-left: 5px;
}

#search-name {
  position: relative;
  display: inline-block;
  margin: 5px;
  width: 300px;
  font-size: 14px;
  line-height: 25px;
  padding-left: 5px;
}

#search-button {
  position: relative;
  display: inline-block;
    border: 0;
    color: white;
    background: #ac1e44;
    width: 80px;
    height: 30px;
    font-size: 18px;
    border-radius: 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
}

.photo-gallery {
    position: relative;
    top: 120px;
    right: 20px;
    float: right;
}

.general-info, .recensioni {
    position: relative;
    top: 120px;
    left: 70px;
}

h1 {
    color: #ac1e44;
}

.star-img {
    position: relative;
    display: inline;
    width: 15px;
    bottom: 3px;
}

#nrecensioni {
    position: relative;
    left: 15px;
}

#nrank {
    position: relative;
    left: 25px;
}

#rdescription {
    width: 500px;
    font-weight: normal !important;
    color: #737373;
}

#website-image {
    width: 20px;
    position: relative;
    bottom: 3px;
}

#send-button {
    position: relative;
    bottom: 15px;
    left: 20px;
}