#restauretor_info
{
    margin-top: 50px;
}

h1 {
    position: absolute;
    top: 6%;
    left: 2%;
    color: #ac1e44;
}

h3 {
    position: absolute;
    top: 14%;
    left: 2%;
    color: #891836;
}

.panel-default {
    position: absolute;
    top: 25%;
    left: 2%;
    width: 400px;
    height: auto;
}

ul {
    list-style-type: none;
}

.panel-body {
    position: relative;
    top: 15px;
}
#refactor-button
{
    margin-top: 100px;    
    background-color: #ac1e44;
    margin-left: 40px;
}